<li class="team-list__item">
  <article class="employee-card">
    <a class="employee-card__image responsive-media" href="#">
      <img src="@img/images/ui/team/@@image.jpg" alt="@@title" loading="lazy">
    </a>
    <div class="employee-card__content">
      @@if (h2) {
      <h2 class="employee-card__title">
        <a href="#">@@title</a>
      </h2>
      }
      @@if (h3) {
      <h3 class="employee-card__title">
        <a href="#">@@title</a>
      </h3>
      }
      <p class="employee-card__caption">@@caption</p>
    </div>
  </article>
</li>
