@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

body {
  font-family: variables.$font-manrope;
  color: variables.$color-text;

  .scroll-lock & {
    overflow: hidden;
  }
}
