@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.text {
  max-inline-size: 768px;
  margin-inline: auto;
  font-size: functions.responsive-value(16, 14);
  font-weight: 300;
  line-height: calc(23 / 16);
  color: variables.$color-black;

  > * {
    &:not(:last-child) {
      margin-block-end: 1.5em;
    }
  }

  > div {
    &:not(:last-child) {
      margin-block-end: 3em;
    }

    > * {
      &:not(:last-child, p:has(+ ul)) {
        margin-block-end: 1.5em;
      }
    }
  }

  h1 {
    font-size: functions.responsive-value(36, 22);
    font-weight: 600;
    line-height: calc(44 / 36);
    text-wrap: balance;
  }

  h2 {
    font-size: functions.responsive-value(22, 16);
    font-weight: 500;
    line-height: calc(26 / 22);
    text-wrap: balance;
  }

  ul {
    &[data-default] {
      list-style: inside;
    }

    &:not([data-default]) {
      li {
        &::before {
          content: "- ";
        }
      }
    }
  }

  ol {
    counter-reset: ol;

    > li {
      &:not(:last-child) {
        margin-block-end: 0.5em;
      }

      &::before {
        content: counters(ol, ".") ". ";
        counter-increment: ol;
        font-weight: 500;
      }
    }
  }

  li {
    padding-inline-start: 1em;
  }

  img {
    max-inline-size: 100%;
    block-size: auto;
  }
}
