$color-white: #fff;
$color-black: #000;

$color-accent: #ad0d14;
$color-text: #333333;
$color-logo: #ad0d14;

$color-ad0d14: #ad0d14;
$color-333333: #333333;
$color-762d36: #762d36;
$color-f3f3f3: #f3f3f3;
$color-c4c4c4: #c4c4c4;
$color-ededed: #ededed;
$color-1a1a1a: #1a1a1a;
$color-a2a2a2: #a2a2a2;
$color-3b3f48: #3b3f48;
$color-f3f0f0: #f3f0f0;
$color-f6f6f6: #f6f6f6;
$color-bababa: #bababa;
